body {
  background-color: #D7E6D4!important;
  background-image: url('../assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: Arial;
}

a, a:visited {
  text-decoration: none !important;
}

.home {
  position: relative;
}

.home a, .home a:visited, .home a:hover {
  color: white !important;
}

.logo {
  display: block;
  margin: 240px auto 0 auto;
  width: 260px;
}

.construction {
  color: white;
  display: block;
  font-size: 30px;
  margin: 40px auto 30px auto;
  text-align: center;
}

.more-container {
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.more {
  color: white;
  display: block !important;
  font-size: 60px !important;
  line-height: 40px !important;
}

.logo-small {
  height: 50px;
  width: 198px;
  background-image: url(../assets/logo_small.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.contact {
  color: #3a3a3a !important;
  display: inline-block;
  height: 53px;
}

.contact .description {
  display: block;
  font-size: 28px;
}

.contact a {
  color: #3a3a3a !important;
  display: inline-block;
  text-decoration: none;
  font-size: 35px;
  line-height: 70px;
  margin: 0px 5px;
}

.about-us {
  background-color: #D7E6D4;
  padding-bottom: 40px;
}

.about-us .col {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.about-us .col .content {
  width: 200px;
  margin: auto;
  padding-top: 80px;
}

.about-us .avatar {
  margin-left: -25px;
  width: 250px;
}

.about-us .name {
  font-size: 17px;
  font-weight: bold;
  line-height: 17px;
  margin-top: 5px;
}

.about-us .title {
  font-size: 14px;
  font-weight: bold;
}

.about-us .description {
  margin: 20px 0;
}

.about-us .contact-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.about-us a, .about-us a:visited, .about-us a:hover {
  color: #333;
}

/* NAV */
nav {
  background: #D6FFD4 !important;
  padding: 10px !important;
}

nav .custom-navbar-brand {
  padding: 0px !important;
}

nav li a {
  color: #3a3a3a !important;
}

.company {
  color: #3a3a3a !important;
  padding: 40px 10px;
}

.company span {
  font-size: 14px;
}

.container-fluid.mostacho {
  background-color: #ABFF9E;
}

/* Producciones */

.producciones {
  margin: 20px;
}

.producciones .col {
  text-align: center;
  padding: 10px 2px;
}